# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Minecraft Pi (Auto-downloaded assets)
minecraft-pi
run_mcpi
data/
api/
CONTROLS.txt
HOW_TO_RUN.txt
VERSION.txt
LICENSE.txt
games/
options.txt
*.zip
*.tar.gz
*.tar.gz.zip

# IDE / Editor
.vscode/
.idea/
*.swp
